# Copyright 2015-2015 Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
# except in compliance with the License. A copy of the License is located at
#
#     http://aws.amazon.com/apache2.0/
#
# or in the "license" file accompanying this file. This file is distributed on an "AS IS"
# BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under the License.

packages:
  yum:
    gcc-c++: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    MASTER_IP_TABLE: '`{ "Ref" : "MasterIPTable"}`'
    EB_ENV_NAME: '`{"Ref" : "AWSEBEnvironmentName"}`'

commands:
  1make_temp_directory:
    command: mkdir /tmp/python
  2install_openssl11:
    command: yum install openssl11
  3download_python:
    command: wget https://www.python.org/ftp/python/3.10.13/Python-3.10.13.tgz
    cwd: /tmp/python
  4unpack_python:
    command: tar -xzf Python-3.10.13.tgz
    cwd: /tmp/python
  5configure_python_build:
    command: ./configure --enable-opimizations --with-openssl-rpath=/usr/lib64
    cwd: /tmp/python/Python-3.10.13/
  6build_python_install:
    command: make altinstall
    cwd: /tmp/python/Python-3.10.13/
    test: [python3.10 -c "import ssl; print(ssl.OPENSSL_VERSION)"]    
  7install_python_pip:
    command: curl -sS https://bootstrap.pypa.io/get-pip.py | python3.10
  8install_packages:
    command: python3 -m pip install locust==2.16.1 locust-plugins==4.0.0 paho-mqtt==1.6.1 websocket-client==1.6.2 ujson

    # install_packages:
    # command: wget https://www.python.org/ftp/python/3.10.4/Python-3.10.4.tgz && tar -xf Python-3.10.4.tgz && sudo mv Python-3.10.4 /usr/lib/python3 && ln -s /usr/bin/python3 /usr/lib/python3/python3.11 && cd /usr/lib/python3/ && ./configure --enable-optimizations
    # command: yum remove -y python3-requests && python3 -m pip install locust==2.16.1 locust-plugins==4.0.0 paho-mqtt==1.6.1 websocket-client==1.6.2 ujson

  create_home_dir:
    command: "mkdir /home/webapp | chown webapp:webapp /home/webapp"
  copy_deploy_manifest:
    command: "cp /opt/elasticbeanstalk/deployment/app_version_manifest.json /tmp/manifest; chmod 777 /tmp/manifest"

files:
  # add configuration to display the locust log files when tailing logs
  "/opt/elasticbeanstalk/tasks/taillogs.d/locustio.conf":
    owner: root
    group: root
    mode: "000644"
    content: |
      /var/log/locust-master*.log
      /var/log/locust-follower*.log
